@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
   --bg-gray: #717171;
   --color-primary: #4D41C0;
   --white: #ffff;
   --text-grey: #4A4A4A;
   --text-light-grey: #aaa;
   --star-yellow: #ffbb3a;
   --very-ligth-grey: #ccc;
}

* {
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
}

html, body {
   background-color: var(--very-ligth-grey);
}

header {
   background-color: var(--color-primary);
   color: var(--white);
   height: 60px;
   display: flex;
   align-items: center;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav h1 {
   font-size: 24px;
   font-weight: 700;
}

nav a {
   font-size: 12px;
   font-weight: 400;
}

a, a:hover {
   text-decoration: none;
   color: unset;
}

h1, h2, h3, h4, h5 {
   margin: 0;
}

.dsmovie-contact-container {
   display: flex;
   align-items: center;
}

.dsmovie-contact-container img {
   margin-right: 10px;
}

.dsmovie-card {
   width: 100%;
}

.dsmovie-pagination-container {
   padding: 15px 0;
   display: flex;
   justify-content: center;
}

.dsmovie-pagination-box {
   width: 180px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.dsmovie-pagination-box p {
   margin: 0;
   font-size: 12px;
   color: var(--color-primary);
   font-weight: 400;
}

.dsmovie-pagination-box button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border: 1px solid var(--color-primary);
   border-radius: 4px;
   background-color: lightgray;
}


.dsmovie-pagination-box button img {
   filter: brightness(0) saturate(100%) invert(29%) sepia(33%) saturate(3909%) hue-rotate(229deg) brightness(82%) contrast(89%);
}

.dsmovie-pagination-box button:disabled {
   border: var(--text-light-grey);
   background-color: lightgray;
}

.dsmovie-pagination-box button:disabled img {
   filter: unset;
}

#dsmovie-card-list {
   padding: 0 10px;
}

.dsmovie-card img {
   width: 100%;
   height: 100%;
   border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
   background-color: var(--white);
   padding: 20px, 20px, 20px, 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 0 0 8px 8px;
   height: 200px;
   justify-content: space-between;
}

.dsmovie-card-description h3 {
   font-size: 14px;
   font-weight: 600;
   margin-bottom: 10px;
   margin-top: 20px;
   text-align: center;
}

.dsmovie-card-description-botton {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dsmovie-flip-horizontal {
   transform: rotate(180deg);
}

.dsmovie-card-description-botton h4 {
   font-size: 16px;
   font-weight: 700;
   color: var(--star-yellow);
}

.dsmovie-card-description-botton p {
   font-size: 12px;
   font-weight: 400;
   color: var(--text-light-grey);
   margin-bottom: 10px;
}

.dsmovie-card-description-botton img {
   width: 22px;
}

.dsmovie-btn, .dsmovie-btn:hover {
   width: 180px;
   height: 40px;
   background-color: var(--color-primary);
   color: var(--white);
   font-size: 14px;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
   margin-bottom: 20px;
   border: 0;
}

.dsmovie-form-container {
   padding: 40px 0;
   max-width: 480px;
}

.dsmovie-form-description {
   background-color: var(--white);
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 0 0 8px 8px;
}

.dsmovie-form {
   width: 100%;
}

.dsmovie-form-group {
   margin-bottom: 20px;
}

.dsmovie-form-group label {
   font-size: 11px;
   color: var(--text-light-grey);
}

.dsmovie-form-btn-container {
   height: 100px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
}

.dsmovie-form-description h3 {
   font-size: 13px;
   font-weight: 700;
   margin-bottom: 20px;
}
